.page.light {
  /* background */
  --primary-background: #ffffff; /* 主要背景颜色 */
  --light-background: #f8f8f8;
  --page-header-background: #ffffff; /* 页面头部背景色 */
  --page-aside-background: #ffffff; /* 页面侧边栏背景色 */

  /* Text */
  --primary-text-color: #000000; /* 主要文字颜色 */
  --secondary-text-color: #585858; /* 次要文字颜色 */
  --light-text-color: #adadad;

  /* Line */
  --line-color: #e1e3e7; /* 边框颜色 */
  --highlight-line-color: #000000; /* 高亮边框颜色  */

  /* Button */
  --primary-button-background: #000000; /* 按钮背景色 */
  --outline-button-color: #000000; /* 按钮边框颜色 */
  --lowkey-button-background: #e0e0e0;
  --lower-button-text-color: #5a5a5a;
}

.page.dark {
  /* background */
  --primary-background: #222222; /* 主要背景颜色 */
  --light-background: #1f1f1f;
  --page-header-background: #222222; /* 页面头部背景色 */
  --page-aside-background: #2e2e2e; /* 页面侧边栏背景色 */

  /* Text */
  --primary-text-color: #b1b1b1; /* 主要文字颜色 */
  --secondary-text-color: #585858; /* 次要文字颜色 */
  --light-text-color: #656565;

  /* Line */
  --line-color: #383838; /* 边框颜色 */
  --highlight-line-color: #555555; /* 高亮边框颜色  */

  /* Button */
  --primary-button-background: #555555; /* 按钮背景色 */
  --outline-button-color: #555555; /* 按钮边框颜色 */
  --lowkey-button-background: #3b3b3b;
  --lower-button-text-color: #898989;
}
